<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Month</label>
  </div>
  {{!this is for admin use only}}
  <select class="custom-select" id="month" name="month">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="year1">2021</option>
    <option value="year2">2020</option>
    <option value="year3">2019</option>
    <option value="year4">2018</option>
    <option value="year5">2017</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Tags</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="tag">tag1</option>
    <option value="tag">tag2</option>
    <option value="tag">tag3</option>
    <option value="tag">tag4</option>
    <option value="tag">tag5</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Instructor</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="user1">Teresa</option>
    <option value="user2">Tatiana</option>
    <option value="user3">Kevin</option>
    <option value="user4">Tiereny</option>
    <option value="user5">Miguel</option>
  </select>
   <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ratings</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="Star_1">1</option>
    <option value="Star_2">2</option>
    <option value="Star_3">3</option>
    <option value="Star_4">4</option>
    <option value="Star_5">5</option>
  </select>
  <div class="input-group-append">
   <button class="btn btn-outline-secondary" type="button" id="search" name="search">Search</button>
 </div>
</div>
